
input {
	outline: none;
}
ul {
	list-style: none;
	margin: 0;
}

.clearfloat{zoom:1;} 
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0;} 







/*header*/
#header .brand  {
	padding: 0!important;
	margin-left: 0;
}
#header .brand > img {
	height: 60px;
	display: block;
}
.login-before {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}



/*index.html*/
.allInput {
	vertical-align: middle;
}
.task-at-title {
	padding: 0 15px;
	font-size: 16px;
}
.task-at-title ul li {
	padding-bottom: 20px;
}
.task-at-title ul li:first-child {
	padding-top: 20px;
}



.table tr th,
.table tr td {
	vertical-align: middle;
    text-align: center;
}
.task-at-list .task-stage,
.task-at-list .task-time,
.task-at-list .task-state {
	padding: 0;
}

.task-at-list .task-stage div,
.task-at-list .task-time div,
.task-at-list .task-state div {
	border-bottom: 1px solid #ddd;
	display: table;
	width: 100%;
}
.task-at-list .task-stage div:last-child,
.task-at-list .task-time div:last-child,
.task-at-list .task-state div:last-child {
	border-bottom: none;
}


.task-at-list .task-stage div span,
.task-at-list .task-time div span,
.task-at-list .task-state div span {
	display: block;
}




/*任务创建、任务详情*/
.task-create-detail .control-group .control-label {
	width: 100px;
	text-align: right;
}
.task-create-detail .control-group .controls {
	margin-left: 120px;
}

.controls-value {
	margin-left: 120px;
	padding-top: 5px;
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.controls-value > label {
	display: inline;
	margin-right: 20px;
}
.controls-value > input[type=checkbox] {
	margin-top: 0;
}
.controls-value > .checker {
	margin-right: 0;
}
.controls-value > input {
	margin-top: -5px;
}
.controls-value .tcd-textarea {
	min-height: 100px;
	max-width: 600px;
	max-height: 800px;
}
.tcd-stage td {
	padding: 6px 0;
}
.tcd-stage td input {
	width: 90%;
	padding: 6px;
	box-sizing: border-box;
	height: 30px;
}
.tcd-stage td .input-medium {
	width: 90%;
}
.tcd-stage .tcd-time-range input {
	width: 40%;
}

