
input {
	outline: none;
}
ul {
	list-style: none;
	margin: 0;
}
label {
	cursor: default;
}
.clearfloat{zoom:1;} 
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0;} 

.page-title {
	margin-bottom: 0;
}




/*header*/
#header .brand  {
	padding: 0!important;
	margin-left: 0;
}
#header .brand > img {
	height: 60px;
	display: block;
}
.login-before {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}



/*index.html*/

.index-mc .create-at {
	float: right;
	margin: -49px 32px 0 0;
}
.index-mc .task-at-title {
	height: 0;
}



.allInput {
	vertical-align: middle;
}
.task-at-title {
	padding: 0 15px;
	font-size: 16px;
	box-sizing: border-box;
}
.task-at-title ul li {
	padding-bottom: 20px;
}
.task-at-title ul li:first-child {
	padding-top: 20px;
}



.table tr th,
.table tr td {
	vertical-align: middle;
    text-align: center;
}
.task-at-list .task-stage,
.task-at-list .task-time,
.task-at-list .task-state {
	padding: 0;
}

.task-at-list .task-stage div,
.task-at-list .task-time div,
.task-at-list .task-state div {
	border-bottom: 1px solid #ddd;
	display: table;
	width: 100%;
}
.task-at-list .task-stage div:last-child,
.task-at-list .task-time div:last-child,
.task-at-list .task-state div:last-child {
	border-bottom: none;
}


.task-at-list .task-stage div span,
.task-at-list .task-time div span,
.task-at-list .task-state div span {
	display: block;
}



.OOHM-layer-form {
	padding: 15px 15px 0;
	max-height: 520px;
	min-height: 200px;
}
.label-title {
	float: left;
	width: 100px;
	text-align: right;
	line-height: 30px;
}
.form-content {
	padding-left: 110px;
	line-height: 30px;
	max-height: 400px;
}
.at-save-fc {
	overflow: auto;
	padding: 20px 0 0 10px;
}
.zhiorto {
	display: inline-block;
    vertical-align: top;
}
.form-content input[type=text] {
	padding: 4px 6px;
}
.sync-fq .form-content > label:nth-child(2) {
	margin-left: 30px;
}
.sync-time .form-content > input {
	width: 107px;
}


.add-stage {
	margin-bottom: 10px;
}
.at-table-wrap {
	padding-right: 20px;
	max-height: 200px;
	overflow: auto;
}
.at-stage-table {
	width: 100%;
}
.at-stage-table tr td input {
	margin-bottom: 0;
}
.at-stage-table tbody td:first-child input {
	width: 90%;
}

.at-stage-table tr td:nth-child(2) input {
	width: 40%;
}
.at-stage-table tr td:nth-child(2) {
	position: relative;
}
/*<i class="icon-remove at-stage-rm"></i>*/
.at-stage-rm {
	position: absolute;
	right: 0;
	top: 0;
	padding: 4px;
	cursor: pointer;
}





/*task-list.html*/
.sync-layerpage {
    padding: 60px 0 20px;
}
.sync-layerpage .laypage_main {
    text-align: center;
}
.sync-layerpage .laypage_total label {
	margin: 0;
	line-height: 26px;
}

.monitor-tb-w {
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}
.form-btn-w {
	text-align: center;
	padding-top: 20px; 
}
.form-btn-w button {
	margin: 0 20px;
}
.invite-content {
	padding: 0 10px;
}
.invite-info-w {
	padding-bottom: 15px;
}
.invite-content .invite-url {
	vertical-align: middle;
	margin: 0 10px 0 0;
	width: 450px;
}
.reset-invite-pw {
	margin: 0;
	cursor: pointer;
}






/*任务创建、任务详情*/
.task-create-detail .control-group .control-label {
	width: 100px;
	text-align: right;
}
.task-create-detail .control-group .controls {
	margin-left: 120px;
}

.controls-value {
	margin-left: 120px;
	padding-top: 5px;
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.controls-value > label {
	display: inline;
	margin-right: 20px;
}
.controls-value > input[type=checkbox] {
	margin-top: 0;
}
.controls-value > .checker {
	margin-right: 0;
}
.controls-value > input {
	margin-top: -5px;
}
.controls-value .tcd-textarea {
	min-height: 100px;
	max-width: 600px;
	max-height: 800px;
}
.tcd-stage td {
	padding: 6px 0;
}
.tcd-stage td input {
	width: 90%;
	padding: 6px;
	box-sizing: border-box;
	height: 30px;
}
.tcd-stage td .input-medium {
	width: 90%;
}
.tcd-stage .tcd-time-range input {
	width: 40%;
}
.task-create-detail .control-group {
	margin-bottom: 10px;
}
.task-create-detail .tcd-textarea {
	margin-bottom: 20px;
}



/*monitor-people.html*/
.monitor-save {
	float: right;
	margin: -49px 15px 0 0;
}





/*pw-change.html*/
.pw-change-form .control-label {
	width: 100px;
    text-align: right;
}
.pw-change-form .controls {
    margin-left: 120px;
}
.pw-change-save {
	margin: 30px 0 0 120px; 
}




/*personal-center.html*/
.ps-center-form .control-label {
	width: 100px;
    text-align: right;
}
.xinghao {
	font-size: 15px;
	color: #f00;
}
.ps-center-form .controls {
    margin-left: 120px;
}
.pw-change-save {
	margin: 30px 0 0 120px; 
}

.license-title {
	padding: 20px 0;
}
.ps-license-ul li {
	display: inline-block;
    width: 152px;
    height: 80px;
    padding: 0 8px 0 0;
    border: 2px dotted #ddd;
    margin-right: 20px;
    background: url(../img/user-set-add.png) left top no-repeat;
    position: relative;
    overflow: hidden;
}
.ps-license-ul li .input-file {
	position: absolute;
    width: 98%;
    height: 98%;
    top: 0;
    left: 0;
    filter: alpha(opacity:0);
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}
.zhengjian-rules {
    padding: 4px 0;
    color: #ebbf00;
}
.license-img {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}





/*monitor-detail.html*/
.monitor-account {
	line-height: 30px;
}
.monitor-d-save {
	margin: 30px 0 0 120px;
}
.monitor-d-form .control-label {
	width: 100px;
    text-align: right;
}
.monitor-d-form .controls {
    margin-left: 120px;
}
.monitor-d-form .monitor-cbox {
	width: 15px;
	height: 15px;
}
.m-effective .controls {
	padding-top: 6px;
	margin-bottom: 0;
}


/*view-picture.html*/
.picture-info {
	padding: 0 15px;
	font-size: 16px;
	box-sizing: border-box;
}
.picture-info ul li {
	padding-bottom: 20px;
}
.picture-info ul li:first-child {
	padding-top: 20px;
}



.untreated-pic-ul {
	font-size: 0;
	padding: 10px 15px;
}
.untreated-pic-list {
	font-size: 14px;
	display: inline-block;
	box-sizing: border-box;
	border: 1px solid #d7d8da;
    border-radius: 6px!important;
    width: 23%;
    margin-right: 2.33%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}
.untreated-pic-ul .untreated-pic-list:nth-child(4n) {
    margin-right: 0;
}
.untreated-pic {

}
.untreated-pic-w {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.px4 {
	width: 100%;
	display: block;
}
.img-label {
	width: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	cursor: pointer;
}
.untreated-pic-info {
	padding: 5px 10px 5px 10px;
	margin-bottom: 0;
	line-height: 1.5;
	background: #afafaf;
	color: #fff;
}
.pic-stage-w {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 100;
	background-color: #fff;
	/*border: 2px solid #1B9AF7;*/
	border-radius: 4px!important;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
	width: 80px;
}
.pic-stage-on {
    padding: 4px 20px 4px 10px;
    color: #666;
    margin: 0;
    position: relative;
}
.pic-stage-on .icon-sort-down {
	position: absolute;
	right: 8px;
    top: 4px;
}
.pic-stage-ul {
	display: none;
}
.pic-stage-ul li {
	padding: 4px 20px 4px 10px;
}
.pic-stage-ul li:hover {
	background-color: #1B9AF7;
	color: #fff;
}
.pic-stage-on[dataType='unStage'] {
	background-color: #1B9AF7;
	color: #fff;
}
.pic-stage-on[dataType='passStage'] {
	background-color: #A5DE37;
	color: #fff;
}
.pic-stage-on[dataType='minedStage']  {
	background-color: #ff6600;
	color: #fff;
}
.pic-stage-on[dataType='uneffectStage'] {
	background-color: #999;
	color: #fff;
}


/*.the-pic-detail {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	color: #fff;
	padding: 10px;
}
*/

.view-pic-mask {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10000;
	background-color: rgba(0,0,0,0.5);
	display: none;
}
.view-pic-w {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	border: 1px solid rgba(0,0,0,0.6);
	background-color: rgba(0,0,0,0.6);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.view-pic-pv {
	height: 100%;
	box-sizing: border-box;
	padding-bottom: 100px;
	overflow: hidden;
	position: relative;
	z-index: 103;
}
.pic-w {
	width: 80%;
	height: 80%;
	text-align: center;
	overflow: hidden;
	margin: 10%;
	position: relative;
}
.pic-w > img {
	min-height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.view-psmall {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100px;
	background-color: rgba(0,0,0,1 );
	z-index: 120;
}
.view-pic-small-w {
	width: 386px;
	height: 50px;
	margin: 25px auto;
	position: relative;
}
.view-pic-small {
    width: 386px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 110;
    overflow: hidden;
    -webkit-transform: scale(1) translate(-50%, -50%);
    -moz-transform: scale(1) translate(-50%, -50%);
    -ms-transform: scale(1) translate(-50%, -50%);
    -o-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
    -webkit-transition: all 1s 2s;
    -moz-transition: all 1s 2s;
    -o-transition: all 1s 2s;
    -ms-transition: all 1s 2s;
    transition: all 1s 2s;
    -webkit-transform-origin: 0 0%;
    -moz-transform-origin: 0 0%;
    -o-transform-origin: 0 0%;
    -ms-transform-origin: 0 0%;
    transform-origin: 0 0%;
}
.pv-small-scroll {
	font-size: 0;
    position: relative;
    left: 0;
    width: 600%;
}
.pv-s-prev, .pv-s-next {
    position: absolute;
    width: 32px;
    height: 40px;
    top: 5px;
    z-index: 10;
    cursor: pointer;
    background-position: center center;
    -webkit-background-size: 16px 20px;
    background-size: 16px 20px;
    background-repeat: no-repeat;
}
.pv-s-prev {
    left: -37px;
    background-image: url(../img/pv-s-prev.png);
}
.pv-s-next {
    right: -37px;
    background-image: url(../img/pv-s-next.png);
}
.pv-small-scroll .s-img-w {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 6px;
    overflow: hidden;
    position: relative;
}
.pv-small-scroll .s-img-w.pv-s-on {
    border: 2px solid #fff;
    box-sizing: border-box;
}
.pv-small-scroll .s-img-w img {
    width: 100%;
    cursor: pointer;
    border: none;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.pvPrev, .pvNext {
	position: absolute;
    width: 32px;
    height: 40px;
    top: 50%;
    z-index: 120;
    cursor: pointer;
    background-position: center center;
    -webkit-background-size: 16px 20px;
    background-size: 16px 20px;
    background-repeat: no-repeat;
}
.pvPrev {
	left: 37px;
    background-image: url(../img/pv-s-prev.png);
}
.pvNext {
	right: 37px;
    background-image: url(../img/pv-s-next.png);
}
.view-pic-clons {
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 14px;
	width: 30px;
	height: 30px;
	padding-top: 4px;
	box-sizing: border-box;
	text-align: center;
	background-color: #999;
	border-radius: 100%!important;
	overflow: hidden;
	color: #ddd;
	cursor: pointer;
}




/*login.html*/
.LR-model {
	position: fixed;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	width: 450px;
	background-color: #fff;
	border-radius: 6px!important;
	overflow: hidden;

}
.LR-title {
	text-align: center;
	font-size: 26px;
	padding-top: 20px;
}
.LR-form {
	padding: 30px 60px;
	margin-bottom: 0;
}
.LR-form-list {
	position: relative;
    margin-bottom: 20px;
}
.LR-form-list-icon {
	position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    -webkit-background-size: 18px 18px;
    background-size: 18px 18px;
    background-position: 14px center;
}
.LR-form-user .LR-form-list-icon {
    background-image: url(../img/user.png);
}
.LR-form-pw .LR-form-list-icon {
    background-image: url(../img/password.png);
}
.LR-form .LR-form-itxt {
	padding: 4px 10px 4px 40px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    font-size: 14px;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 4px!important;
    -webkit-appearance: none;
}
input.LR-rmb {
	vertical-align: middle;
	margin-top: 0;
	width: 15px;
	height: 15px;
}
.LR-label {
	display: inline-block;
}
.LR-forget-PW {
	float: right;
	color: #888;
}
.LR-btn-w {
	margin-top: 20px;
}
.LR-btn-one {
	width: 100%;
    background-color: #666;
    color: #fff;
    font-size: 20px;
    outline: 0;
    border: none;
    padding: 10px 0;
    border-radius: 4px!important;
}
.LR-register-go {
	padding: 20px 0;
	text-align: right;
	font-size: 16px;
}
.LR-register-go a {
	color: #0f0;
}


/*注册*/
.LR-m-register .LR-form-list {
	margin-bottom: 10px;
}
.LR-form-pw-again .LR-form-list-icon {
    background-image: url(../img/password.png);
}
.LR-form-cpy .LR-form-list-icon {
    background-image: url(../img/user.png);
}
.LR-form-email .LR-form-list-icon {
	background-image: url(../img/user.png);
}


/*找回密码*/
.find-pw {
	padding: 30px 0;
}



/*滑动验证码开始*/
#slider{width:100%;height:40px;position:relative;border-radius:2px;background-color:#dae2d0;overflow:hidden;text-align:center;user-select:none;-moz-user-select:none;-webkit-user-select:none;}
#slider_bg{position:absolute;left:0;top:0;height:100%;background-color:#8bcd8b;z-index:1;}
#label{width:20%;position:absolute;left:0;top:0;height:38px;line-height:40px;border:1px solid #cccccc;background:#fff;z-index:3;cursor:move;color:#44baf2;font-size:16px;font-weight:900;}
#labelTip{position:absolute;left:0;width:100%;height:100%;font-size:13px;font-family:'Microsoft Yahei',serif;color:#787878;line-height:38px;text-align:center;z-index:2;}
/*滑动验证码结束*/