
input {
	outline: none;
}

.clearfloat{zoom:1;} 
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0;} 

#header .brand  {
	padding: 0!important;
	margin-left: 0;
}
#header .brand > img {
	height: 60px;
	display: block;
}
.login-before {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
