
input {
	outline: none;
}
ul {
	list-style: none;
	margin: 0;
}
label {
	cursor: default;
}
.clearfloat{zoom:1;} 
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0;} 






/*header*/
#header .brand  {
	padding: 0!important;
	margin-left: 0;
}
#header .brand > img {
	height: 60px;
	display: block;
}
.login-before {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}



/*index.html*/

.index-mc .create-at {
	float: right;
	margin: -49px 32px 0 0;
}
.index-mc .task-at-title {
	height: 0;
}



.allInput {
	vertical-align: middle;
}
.task-at-title {
	padding: 0 15px;
	font-size: 16px;
	box-sizing: border-box;
}
.task-at-title ul li {
	padding-bottom: 20px;
}
.task-at-title ul li:first-child {
	padding-top: 20px;
}



.table tr th,
.table tr td {
	vertical-align: middle;
    text-align: center;
}
.task-at-list .task-stage,
.task-at-list .task-time,
.task-at-list .task-state {
	padding: 0;
}

.task-at-list .task-stage div,
.task-at-list .task-time div,
.task-at-list .task-state div {
	border-bottom: 1px solid #ddd;
	display: table;
	width: 100%;
}
.task-at-list .task-stage div:last-child,
.task-at-list .task-time div:last-child,
.task-at-list .task-state div:last-child {
	border-bottom: none;
}


.task-at-list .task-stage div span,
.task-at-list .task-time div span,
.task-at-list .task-state div span {
	display: block;
}



.OOHM-layer-form {
	padding: 15px 15px 0;
	max-height: 520px;
	min-height: 200px;
}
.label-title {
	float: left;
	width: 100px;
	text-align: right;
	line-height: 30px;
}
.form-content {
	padding-left: 110px;
	line-height: 30px;
	max-height: 400px;
}
.at-save-fc {
	overflow: auto;
	padding: 20px 0 0 10px;
}
.zhiorto {
	display: inline-block;
    vertical-align: top;
}
.form-content input[type=text] {
	padding: 4px 6px;
}
.sync-fq .form-content > label:nth-child(2) {
	margin-left: 30px;
}
.sync-time .form-content > input {
	width: 107px;
}


.add-stage {
	margin-bottom: 10px;
}
.at-table-wrap {
	padding-right: 20px;
	max-height: 200px;
	overflow: auto;
}
.at-stage-table {
	width: 100%;
}
.at-stage-table tr td input {
	margin-bottom: 0;
}
.at-stage-table tbody td:first-child input {
	width: 90%;
}

.at-stage-table tr td:nth-child(2) input {
	width: 40%;
}
.at-stage-table tr td:nth-child(2) {
	position: relative;
}
/*<i class="icon-remove at-stage-rm"></i>*/
.at-stage-rm {
	position: absolute;
	right: 0;
	top: 0;
	padding: 4px;
	cursor: pointer;
}





/*task-list.html*/
.sync-layerpage {
    padding: 60px 0 20px;
}
.sync-layerpage .laypage_main {
    text-align: center;
}
.sync-layerpage .laypage_total label {
	margin: 0;
	line-height: 26px;
}

.monitor-tb-w {
	max-height: 200px;
	overflow-x: hidden;
	overflow-y: auto;
}
.form-btn-w {
	text-align: center;
	padding-top: 20px; 
}
.form-btn-w button {
	margin: 0 20px;
}
.invite-content {
	padding: 0 10px;
}
.invite-info-w {
	padding-bottom: 15px;
}
.invite-content .invite-url {
	vertical-align: middle;
	margin: 0 10px 0 0;
	width: 450px;
}
.reset-invite-pw {
	margin: 0;
	cursor: pointer;
}






/*任务创建、任务详情*/
.task-create-detail .control-group .control-label {
	width: 100px;
	text-align: right;
}
.task-create-detail .control-group .controls {
	margin-left: 120px;
}

.controls-value {
	margin-left: 120px;
	padding-top: 5px;
	font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.controls-value > label {
	display: inline;
	margin-right: 20px;
}
.controls-value > input[type=checkbox] {
	margin-top: 0;
}
.controls-value > .checker {
	margin-right: 0;
}
.controls-value > input {
	margin-top: -5px;
}
.controls-value .tcd-textarea {
	min-height: 100px;
	max-width: 600px;
	max-height: 800px;
}
.tcd-stage td {
	padding: 6px 0;
}
.tcd-stage td input {
	width: 90%;
	padding: 6px;
	box-sizing: border-box;
	height: 30px;
}
.tcd-stage td .input-medium {
	width: 90%;
}
.tcd-stage .tcd-time-range input {
	width: 40%;
}
.task-create-detail .control-group {
	margin-bottom: 10px;
}
.task-create-detail .tcd-textarea {
	margin-bottom: 20px;
}



/*monitor-people.html*/
.monitor-save {
	float: right;
	margin: -49px 15px 0 0;
}





/*pw-change.html*/
.pw-change-form .control-label {
	width: 100px;
    text-align: right;
}
.pw-change-form .controls {
    margin-left: 120px;
}
.pw-change-save {
	margin: 30px 0 0 120px; 
}




/*personal-center.html*/
.ps-center-form .control-label {
	width: 100px;
    text-align: right;
}
.xinghao {
	font-size: 15px;
	color: #f00;
}
.ps-center-form .controls {
    margin-left: 120px;
}
.pw-change-save {
	margin: 30px 0 0 120px; 
}

.license-title {
	padding: 20px 0;
}
.ps-license-ul li {
	display: inline-block;
    width: 152px;
    height: 80px;
    padding: 0 8px 0 0;
    border: 2px dotted #ddd;
    margin-right: 20px;
    background: url(../img/user-set-add.png) left top no-repeat;
    position: relative;
}
.ps-license-ul li .input-file {
	position: absolute;
    width: 98%;
    height: 98%;
    top: 0;
    left: 0;
    filter: alpha(opacity:0);
    opacity: 0;
    cursor: pointer;
}
.zhengjian-rules {
    padding: 4px 0;
    color: #ebbf00;
}



